<h2>Empresa</h2>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 text-center">
      <h3>Sobre Nosotros</h3>
      <p>Productos de alta calidad</p>
      <p>El mejor servicio de atención al cliente</p>
      <p>Garantía de devolución en 30 días</p>
      <p>Asesoramiento personalizado</p>
      <p>Descuentos por volúmenes de compra</p>
    </div>
    <div class="col-12 col-lg-4 text-center">
      <h3>Nuestro Equipo</h3>
      <img src="../../../assets/empresa.jpg" alt="empresa" />
      <p>
        En Modern-Shop trabajamos para encontrar respuesta a las necesidades de
        tu día a día. Te encontramos lo que estás buscando
      </p>
    </div>
    <div class="col-12 col-lg-4 text-center">
      <h3>Vocación de Servicio</h3>
      <p>
        <q
          >En Modern-Shop tenemos como único objetivo el ayudarte a encontrar
          todo lo que necesitas. Contacta con nosotros sin compromiso para
          cualquier tipo de duda y trataremos de ofrecerte la solución que mejor
          se adapta a tus necesidades</q
        >
      </p>
    </div>
  </div>
</div>
