<div class="container-fluid mt-5 text-center p-4 footer">
  <div class="row">
    <div class="col-12 col-lg-4 mb-4">
      <h3 class="logo">Modern-Shop</h3>
    </div>
    <div class="col-12 col-lg-4 mb-4">
      <div class="mb-2">
        <input
          class="inline-block me-3"
          type="email"
          name="email"
          id="email"
          placeholder="Su dirección de correo electrónico"
        />
      </div>
      <div><button class="btn btn-primary">Subscribirse</button></div>
    </div>
    <div class="col-12 col-lg-4 mb-4 flex">
      <p>Follow us on</p>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
        <a href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
      </div>
    </div>
  </div>
</div>
